@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
 html, body{
    width: 100vw;
    height: 100vh;
}
 body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
 main{
    height: 100vh;
    position: relative;
}
#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat;
    height: 627px;
    width: 311px;
}
#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
#redeS{
    text-align: center;
}
#redeS img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(189, 174, 174, 0.712);
    box-sizing: border-box;
}
#redeS img:hover{
    border: 2px solid whitesmoke;
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px 10px rgba(124, 120, 120, 0.678);
    transition: transform .3s;
}